html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: #fff;
}

.centered {
	text-align: center;
	
}

.centered p {
	line-height: 1.6;
}

.secret-list {
	list-style: none;
	text-align: left;
	max-width: 600px;
	margin: 40px auto;
}

.secret-list li::before {
	content: "\2022";
	color: #f8e88b;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}