body {
	background-color: black;
	color: white;
}

.navbar {
	width: 200px;
	margin: 50px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.navbar a:visited {
	color: white;
}

.page-title {
	text-align: center;
	margin: 10px auto 20px;
}

.reviews {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	/* border: 2px solid blue; */
	/* border-top: none; */
}

.person {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
	line-height: 1.8rem;
}

.person:nth-child(odd) {
	background: rgb(44, 67, 67);
}

.person:first-of-type {
	background: blue;
	line-height: 2.5rem;
	font-weight: bold;
}

form {
	width: max-content;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5px;
	/* align-items: center; */
}

form label {
	width: 300px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	white-space: nowrap;
	/* height: 2rem; */
}

.toDelete {
	cursor: pointer;
	align-self: center;
	justify-self: center;
}

#submit-button {
	width: 50%;
	cursor: pointer;
}

.upload-form {
	margin-bottom: 20px;
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 8px;
	background-color: #333;
	text-align: center;
	/* Center the content */
}

.upload-form label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #fff;
}

.upload-form input[type="file"] {
	display: block;
	margin-top: 5px;
	margin: 0 auto;
}

.upload-form input[type="file"]::-webkit-file-upload-button {
	cursor: pointer;
}

.submit-button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #fff;
	color: #333;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #eee;
}

.file-list {
	margin-bottom: 20px;
}

.file-list ul {
	list-style-type: none;
	margin: 0 auto;
	max-width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
}

.uploaded-file {
	min-width: fit-content;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #fff;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	justify-content: space-between;
	min-height: 50px;
	overflow-wrap: break-word;
	width: calc(25% - 20px);
	box-sizing: border-box;
}

/* Add a media query for smaller screens */
@media (max-width: 600px) {
	.uploaded-file {
		width: 70%;
		/* Set width to 100% for smaller screens */
	}
}

.uploaded-file .trash-icon {
	width: 16px;
	height: 16px;
	margin-left: 10px;
	transition: filter 0.3s;
}

.uploaded-file .trash-icon:hover {
	filter: invert(80%);
}

.uploaded-file:hover {
	background-color: #666;
}

.file-contents {
	/* background-color: #555; */
	/* Darker background */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-contents h2 {
	margin-bottom: 10px;
	/* Add some space below the heading */
	/* background-color: #555; */
	/* Slightly darker background */
	padding: 5px 10px;
	border-radius: 4px;
	color: #fff;
	/* White text */
}

.file-contents .content {
	background-color: #444;
	white-space: pre-wrap;
	color: #fff;
	word-wrap: break-word;
	padding: 10px;
	/* White text */
}