.wrapper::before,
.wrapper::after {
	content: '';
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	height: 10%;
}

.wrapper::before {
	top: 0;
}

.wrapper::after {
	bottom: 0;
}

.wrapper {
	position: relative;
	width: 95%;
	margin: 0 auto;
	background-image: url('MilkyWay.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px 20px;
	border-radius: 10px;
	background-color: black;
	text-align: center;
	z-index: 5;
	/* Center the content */
}

.wrapper a {
	color: white;
	text-decoration: none;
}

.wrapper h1 a {
	font-size: 1.5em;
	margin-bottom: 10px;
	display: inline-block;
	transition: color 0.3s;
}

.wrapper a:hover, .wrapper a:active {
	color: #f8e88b;
}

.wrapper p {
	color: white;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.navbar {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: center;
	/* Center the links */
}

.navbar a {
	transition: color 0.3s;
	font-size: 1.4em;
	font-weight: bold;
}

.navbar .separator {
	color: white;
	font-size: 1.2em;
}
